
@{
    ViewBag.Title = "RicercaPrenotazioni";
}

<h2>Ricerca Prenotazioni</h2>

<button>Ricerca in base al codice fiscale</button>
<button>Ricerca tutte le prenotazioni "Pensione Completa"</button>

@*TODO: query async fetch*@

